<div>
  <div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="4" rowHeight="150px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card" [ngStyle]="{'background-color': card.title=='Last Workout Date'? 'rgb(212, 117, 27)':
                                                                      (card.title=='Last Workout Type'? 'rgb(49, 141, 69)': 
                                                                      (card.title=='Money Collected'? 'rgb(209, 80, 91)': 'rgb(79, 197, 185)'))}">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <app-week-data></app-week-data>
</div>