<div>
  <div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="4" rowHeight="150px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card" [ngStyle]="{'background-color': card.title=='Last Workout Date'? 'rgb(212, 117, 27)':
                                                                      (card.title=='Last Workout Type'? 'rgb(49, 141, 69)': 
                                                                      (card.title=='Money Collected'? 'rgb(209, 80, 91)': 'rgb(79, 197, 185)'))}">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div style="text-align: center">
              <h5>{{card.content}}</h5>  
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <div style="display: flex; flex-direction: column; flex-wrap: wrap">
      <div class="chart-div-calender-view">
        <h1>Calender -View</h1>
        <app-calender-view></app-calender-view>
      </div>
       <div>
        <div class="chart-div-left" id="left-bar-chart">
          <h1>Bar Charts</h1>
          <app-workout-type-bar-chart></app-workout-type-bar-chart>
           <!-- <app-week-data [data]="data | async"></app-week-data> -->
        </div>
        <div class="charrt-div-normal">
        </div>
      </div>
      <div>
        <h1> Food Chart </h1>
        <app-progress-donut-chart></app-progress-donut-chart>
      </div>
    </div>
  </div>
  <!-- <h1>Bar Charts</h1>
  <app-week-data [data]="data | async" ></app-week-data> -->
</div>