<div class="fitness-top-div">
  
  <div class="fitness-div">
    <div class="fitness-h1-div">
      <h1 class="fitness-h1-h2">Fitness Info: </h1>
    </div>
  </div>
  
  <div class="fitness-div fitness-i-top-div">
    <div class="fitness-pic-div">
      <i class='far fa-clock fitness-i'></i>  
    </div>
    <div class="fitness-h2-div">
        <h3 class="fitness-h1-h2">Hours left: {{workoutDetails.hrsleft}}</h3>
    </div>
  </div>

  <div class="fitness-div fitness-i-top-div">
    <div class="fitness-pic-div">
      <i class='fas fa-rupee-sign fitness-i'></i>
    </div>
    <div class="fitness-h2-div">
      <h3 class="fitness-h1-h2">Money: {{workoutDetails.moneyCollected}}</h3>
    </div>
  </div>

  <div class="fitness-div fitness-i-top-div">
    <div class="fitness-pic-div">
      <i class='fas fa-dumbbell fitness-i'></i>
    </div>
    <div class="fitness-h2-div">
      <h3 class="fitness-h1-h2">Type: {{workoutDetails.workoutType}}</h3>
    </div>
  </div>

  <div class="fitness-div fitness-i-top-div">
    <div class="fitness-pic-div">
      <i class='far fa-calendar-alt fitness-i'></i>
    </div>
    <div class="fitness-h2-div">
      <h3 class="fitness-h1-h2">Last Workout: {{workoutDetails.workoutTime}}</h3>
    </div>
  </div>


<div style="width: 20%; min-height: 100%; float: right; display: flex;
 flex-flow: column;"> size aya
  <!-- <div style="display: flex; justify-content: flex-end; margin: 30px; flex: 1 1">
      <i class="material-icons" style="color: darkolivegreen; font-size: 65px;
      transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;">
      add_circle</i>
  </div>
  <div style="display: flex;justify-content: center; align-items: center; flex: 1 1">
      <button style="background-color: white; border: none; color: darkolivegreen;
      padding: 10px 25px;
      font-size: 16px;
      display: block; margin-top: 15px; margin-right: 15px;
      border-radius: 3px; position: absolute; right: 0;"  >Add Activity</button>
  </div> -->
</div>
</div>